.homepage-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-container .input-container input{
  display: block;
  font-size: 24px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.homepage-container .input-container button{
  display: block;
  font-size: 24px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
}